/*color-HeavyRed*/
.color-HeavyRed .title-bar{
	background-color:#d93829;
}
.color-HeavyRed .wap .title{
	background:#d93829; color:#fff;
}
/*color-GrassGreen*/
.color-GrassGreen .title-bar{
	background-color:#81b740;
}
.color-GrassGreen .wap .title{
	background:#81b740; color:#fff;
}
/*color-LigthOrange*/
.color-LigthOrange .title-bar{
	background-color:#f0900d;
}
.color-LigthOrange .wap .title{
	background:#f0900d; color:#fff;
}
/*color-RomanticPurple*/
.color-RomanticPurple .title-bar{
	background-color:#7c509d;
}
.color-RomanticPurple .wap .title{
	background:#7c509d; color:#fff;
}
/*color-CoolBlack*/
.color-CoolBlack .title-bar{
	background-color:#25272b;
}
.color-CoolBlack .wap .title{
	background:#25272b; color:#fff;
}
/*color-BadanGold*/
.color-BadanGold .title-bar{
	background-color:#bf9700;
}
.color-BadanGold .wap .title{
	background:#bf9700; color:#fff;
}
/*color-CleanBlue*/
.color-CleanBlue .title-bar{
	background-color:#1598ed;
}
.color-CleanBlue .wap .title{
	background:#1598ed; color:#fff;
}
/*color-Pink*/
.color-Pink .title-bar{
	background-color:#ff90b2;
}
.color-Pink .wap .title{
	background:#ff90b2; color:#fff;
}
/*color-RoseRed*/
.color-RoseRed .title-bar{
	background-color:#ff4876;
}
.color-RoseRed .wap .title{
	background:#ff4876; color:#fff;
}
/*color-SkyBlue*/
.color-SkyBlue .title-bar{
	background-color:#34c1f9;
}
.color-SkyBlue .wap .title{
	background:#34c1f9; color:#fff;
}
/*color-BrightYellow*/
.color-BrightYellow .title-bar{
	background-color:#fec40b;
}
.color-BrightYellow .wap .title{
	background:#fec40b; color:#fff;
}
/*color-SkyBlue*/
.color-PurpleRed .title-bar{
	background-color:#a7317b;
}
.color-PurpleRed .wap .title{
	background:#a7317b; color:#fff;
}
/*color-SkyBlue*/
.color-NavyBlue .title-bar{
	background-color:#0c5aa4;
}
.color-NavyBlue .wap .title{
	background:#0c5aa4; color:#fff;
}